// Basic components for the app.
@import "colours.scss";
@import "breakpoints.scss";

// ----------------------------------------------------------------------------
// || NAVIGATION BAR
// The navigation bar at the top of the page, corresponds to Element.NavBar
// ----------------------------------------------------------------------------

$navigation-bar-height: 2.8rem;

#nav-bar {
  width: 100vw;
  height: $navigation-bar-height;
  padding: 0.25rem 1rem;
  background: $blue-500;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px $blue-500;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
}

#nav-bar-list {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1.1rem;
  color: $white;
}

#nav-bar-brand {
  display: flex;
  align-items: center;
}

#nav-bar-brand-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

#nav-bar-brand-text {
  color: $white;
  font-size: 1.5rem;
  letter-spacing: -1px;
  font-weight: bold;
}

#nav-bar-regular-item-list {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}

.nav-bar-regular-item {
  margin-right: 1.5rem;

  .active {
    border-bottom: 1px solid $white;
  }
}

.nav-bar-right-item {
  margin-left: auto;
}

// ----------------------------------------------------------------------------
// || SMALL POPUP
// Small popup (modal on mobile), corresponds to Element.SmallPopup
// ----------------------------------------------------------------------------

.modal-background {
  display: none;
  @media only screen and (max-width: $mobile) {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: $grey-300;
    opacity: 0.8;
  }
}

.small-popup {
  position: absolute;
  right: 2rem;
  margin-top: 1.5rem;
  width: 360px;
  z-index: 100;
  border-radius: 5px;
  font-size: 0.9rem;
  color: black;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 1rem;
    top: -20px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid $white;
  }
  @media only screen and (max-width: $mobile) {
    position: absolute;
    margin-top: 0;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100vw;
    &:before {
      display: none;
    }
  }
}

.small-popup-header {
  display: none;
  @media only screen and (max-width: $mobile) {
    font-size: 1rem;
    display: block;
    background: $blue-500;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.small-popup-header-title {
  padding-left: 1rem;
  font-weight: bold;
}

.small-popup-header-close-button {
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.small-popup-body {
  padding: 1rem;
  background: $white;
  box-shadow: 0 0 20px $grey-500;
  @media only screen and (max-width: $mobile) {
  }
}

// ----------------------------------------------------------------------------
// || TEXT STYLES
// Generic text styles, corresponds to Element.Text
// ----------------------------------------------------------------------------

.small-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.body-text {
  margin: 0.8em 0;
}

.credential-show {
  margin: 1rem 0;
  th {
    padding-right: 2rem;
  }
}

// ----------------------------------------------------------------------------
// || BUTTON STYLES
// Generic button styles, corresponds to Element.Button, Element.PrimaryButton,
// Element.PrimaryLink, Element.GhostButton, Element.TinyTextButton
// ----------------------------------------------------------------------------

.form-submit-button,
.primary-link,
.primary-button {
  display: block;
  background: $blue-500;
  color: $white;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;

  &:hover {
    background: $blue-600;
  }
  &:active {
    background: $blue-700;
  }

  &:disabled {
    background: $grey-600;
    cursor: not-allowed;
  }

  &.loading {
    cursor: progress;
  }
}

.tiny-text-button {
  color: $blue-500;
  width: 100%;
  font-size: 0.9em;
  &:hover {
    color: $blue-400;
  }
}

.ghost-button {
  @extend .primary-button;
  color: $blue-500;
  border: 2px solid $blue-500;
  background: white;
  &:hover {
    color: white;
    background: $blue-500;
  }
  &:active {
    background: $blue-600;
  }
  &:disabled {
    color: $grey-300;
    border-color: $grey-300;
    background: $white;
  }
}

// ----------------------------------------------------------------------------
// || TEXT INPUT STYLES
// Generic text input styles, corresponds to Element.TextInput
// ----------------------------------------------------------------------------

.text-input {
  margin-bottom: 0.75rem;
}

.text-input-label {
  color: $blue-500;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.text-input-label-text {
  font-weight: bold;
}

.text-input-label-information {
  &:hover:before {
    content: attr(data-tooltip);
    display: block;
    background: $blue-500;
    color: $white;
    padding: 5px 10px;
    border: none;
    bottom: 20px;
    right: -10px;
    position: absolute;
    pointer-events: none;
  }

  &:hover:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    border-top: 5px solid $blue-500;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}

.text-input-input {
  border: 1px dotted $blue-400;
  width: 100%;
  padding: 5px 10px;
  margin-top: 2px;
  border-radius: 2px;

  &:focus {
    border: 1px solid $blue-400;
    background: $white;
  }
}


// ----------------------------------------------------------------------------
// || NUMERICAL INPUT STYLES
// Generic numerical input styles, corresponds to Element.TextInput
// ----------------------------------------------------------------------------

.numerical-input {
  @extend .text-input;
}

.numerical-input-label {
  @extend .text-input-label;
  font-weight: bold;
}

.numerical-input-input {
  @extend .text-input-input;
}

// ----------------------------------------------------------------------------
// || FORM STYLES
// Styling for the form
// ----------------------------------------------------------------------------

.form-errors {
  color: $red-500;
  text-align: center;
  margin: 0.5rem 0;
}

.form-success {
  color: $blue-500;
  text-align: center;
  margin: 0.5rem 0;
  text-decoration: underline;
  &:hover {
    color: $blue-700;
  }
}

// ----------------------------------------------------------------------------
// || BOTTOM BAR
// The navigation bar at the bottom of the page, corresponds to Element.BottomBar
// ----------------------------------------------------------------------------

$bottom-bar-height: 3.6rem;

#bottom-bar {
  display: none;
  @media only screen and (max-width: $mobile) {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $bottom-bar-height;
    border-top: 1px solid $grey-300;
    background: $grey-200;
  }
}

#bottom-bar-list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bottom-bar-item {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  color: $grey-600;
  .bottom-bar-icon {
    stroke: $grey-600;
  }
  .active {
    color: $black;
    .bottom-bar-icon {
      stroke: $black;
    }
  }
}

.bottom-bar-item-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-bar-item-icon {
  font-size: 1.3rem;
  width: 1em;
  height: 1em;
}

.bottom-bar-item-text {
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

// ----------------------------------------------------------------------------
// || TOP NOTIFICATION
// Element.TopNotification styles
// ----------------------------------------------------------------------------

.top-notification-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: enter;
  height: $navigation-bar-height;
  pointer-events: none;
}

.top-notification {
  max-width: 600px;
  font-size: 0.9em;
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: $white;
  color: $grey-700;
  box-shadow: 0 0 10px $grey-500;
  animation: 0.3s fadein;
  pointer-events: auto;
  cursor: pointer;
  @media only screen and (max-width: $mobile) {
    border-radius: 0;
  }
}

// ----------------------------------------------------------------------------
// || MAIN BODY
// Styling for the main body element, Element.MainBody
// ----------------------------------------------------------------------------

.main-body {
  margin-top: $navigation-bar-height;
  padding: 0;
  box-sizing: border-box;
  @media only screen and (max-width: $mobile) {
    margin-bottom: $bottom-bar-height;
  }
}

#main-home {
  background: none;
  display: flex;
  align-items: center;
}

#main-report {
  background: $grey-100;
  margin-top: 0;
  min-height: 100vh;
  margin-bottom: 0;
  padding: 1rem;
  @media only screen and (max-width: $mobile) {
    background: $white;
    padding: 0.5rem;
  }
}

// ----------------------------------------------------------------------------
// || BACKGROUND IMAGE
// Styling for a background image, Element.BackgroundImage
// ----------------------------------------------------------------------------

.background-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -50;
  background-color: $blue-500;
}

// ----------------------------------------------------------------------------
// || CHECKWORD LIST
// Like a checkbox, but the whole word it the target and display.
// ----------------------------------------------------------------------------

.checkword {
  // Hide the default checkbox
  .checkword-checkbox {
    display: none;
  }

  // The label serves as both the click target and display.
  .checkword-label {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    padding: 0.15rem 0.3rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    color: $grey-400;
    font-size: 0.9em;

    &:hover {
      background: $grey-400;
      color: white;
    }
    &:focus {
      border-color: $blue-400;
    }
    @media only screen and (max-width: $mobile) {
      padding: 0.5rem;
    }
    @media only screen and (min-width: $large) {
      font-size: 1em;
    }
  }

  // These styles apply when the checkbox is "checked"
  .checkword-checkbox:checked + .checkword-label {
    background: $blue-400;
    border-color: $blue-400;
    color: $white;

    &:hover {
      background: $blue-500;
    }
    &:focus {
      border-color: $blue-500;
    }
  }
}

.checkword-list {
  margin-bottom: 1rem;
  width: 100%;
  @media only screen and (max-width: $mobile) {
  }
}

.checkword-list-row {
  display: flex;
  color: $blue-500;
  font-weight: bold;
  margin-bottom: 0.25rem;
  align-items: center;

  .checkword-list-label {
    font-size: 0.9rem;
  }

  .checkword-list-select-all {
    padding: 0;
    height: 1em;
    width: 1em;
    margin-left: auto;
  }
  .checkword-list-deselect-all {
    padding: 0;
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
  }
}

.checkword-list-list {
  &.horizontal {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: $mobile) {
      display: block;
      columns: 2;
      column-gap: 0;
      > li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
  }

  &.vertical {
    columns: 2;
    column-gap: 0;
    > li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}

// ----------------------------------------------------------------------------
// || COLUMNS
// Element.TwoColumn, Element.ThreeColumn styles
// ----------------------------------------------------------------------------

.columns {
  width: 100%;
  display: flex;

  .column {
    display: flex;
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
  }

  .column.one {
    margin-left: 0;
  }

  &.two .column.two {
    margin-right: 0;
  }

  &.three .column.three {
    margin-right: 0;
  }

  @media only screen and (max-width: $mobile) {
    display: block;
    margin-right: 0;
    margin-left: 0;
    .column {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// || LANDING FLOAT
// Element.LandingFloat styles
// ----------------------------------------------------------------------------

$landing-float-margin: 40px;

.landing-float {
  background: white;
  width: $mobile - (2 * $landing-float-margin) - 100px;
  height: auto;
  max-height: 720px;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px $grey-500;
  margin-left: $landing-float-margin;
  margin-top: $landing-float-margin / 2;
  margin-bottom: $landing-float-margin / 2;
  padding: 1.25rem;
  padding-bottom: 0.5rem;

  .primary-button {
    font-size: 1.2rem;
    padding: 0.75rem 0.5rem;
  }

  @media only screen and (max-width: $mobile) {
    width: 100%;
    margin: 0;
    max-height: none;
    margin-top: 200px;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
    height: auto;
  }
}

.landing-float-tagline {
  font-size: 2rem;
  line-height: 0.97;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-bottom: 1.5rem;
  @media only screen and (min-width: $large) {
    font-size: 2.4rem;
  }
}

// ----------------------------------------------------------------------------
// || FILTER AND RESULTS
// Element.FilterAndResults styles
// ----------------------------------------------------------------------------

.filter-and-results {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: flex;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.filter-and-results-side {
  min-width: 280px;
  padding: 1rem;
  @media only screen and (max-width: $mobile) {
    min-width: 0;
    width: auto;
    padding: 0;
    border: 2px solid $blue-400;
  }
}

.filter-and-results-side-header {
  font-weight: bold;
  color: $blue-500;
  font-size: 1.2rem;
  border-bottom: 1px dotted $blue-400;
  width: 100%;
  text-align: left;
  padding-left: 0;
  padding-bottom: 0.25rem;
  cursor: default;
  @media only screen and (max-width: $mobile) {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0.5rem;
  }
}

.filter-and-results-side-body {
  margin-top: 1rem;
  @media only screen and (max-width: $mobile) {
    display: none;
    &.visible {
      margin-top: 0;
      display: block;
      padding: 0.5rem;
    }
  }
}

.filter-and-results-main {
  padding: 1rem;
  flex-grow: 1;
  @media only screen and (max-width: $mobile) {
    padding: 0rem;
    margin-top: 1rem;
  }
}

// ----------------------------------------------------------------------------
// || SEARCH BAR
// Element.SearchBar styles
// ----------------------------------------------------------------------------

.search-bar {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
}

.search-bar-input {
  @extend .text-input-input;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  flex-grow: 1;
}

.search-bar-button {
  @extend .primary-button;
  flex-grow: 0;
  width: auto;
  margin: 0;
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
}

// ----------------------------------------------------------------------------
// || SNEAKY BOX
// Element.SneakyBox styles
// ----------------------------------------------------------------------------

.sneaky-box {
  font-size: 0.9rem;
  margin: 1rem 0;
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}

.sneaky-box-summary {
  color: $grey-500;
  position: relative;
  border: 1px dotted $grey-400;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.sneaky-box-content {
  border: 1px dotted $blue-100;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background: $blue-100;
}

// ----------------------------------------------------------------------------
// || SELECT
// Element.Select styles
// ----------------------------------------------------------------------------

.select-group {
  margin: 1rem 0;
  width: 100%;
  font-size: inherit;
}

.select-label {
  @extend .text-input-label;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.select-select {
  width: 100%;
  border: 1px dotted $blue-400;
  padding: 0.25rem 0.5rem;
}

// ----------------------------------------------------------------------------
// || PAGINATED RESULTS
// Element.PaginatedResults styles
// ----------------------------------------------------------------------------

.paginated-results {
  margin: 1rem 0;
}

.paginated-results-header {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted $blue-400;
}

.paginated-results-header-buttons {
  display: flex;
  align-items: center;
}

.paginated-results-header-count {
  flex-grow: 1;
  color: $blue-500;
}

.paginated-results-header-button {
  @extend .ghost-button;
  padding: 0.25rem 0.5rem;
  width: auto;
  margin: 0.5rem 0;
}

.paginated-results-header-page {
  margin: 0 1rem;
  flex-grow: 1;
  color: $blue-500;
}

.paginated-results-results {
  margin: 0.5rem 0;
  animation: 0.3s fadein;
}

.paginated-results-item {
  margin-bottom: 0.5rem;
}

.paginated-results-text {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  &.error {
    color: $red-500;
  }
}

// ----------------------------------------------------------------------------
// || OBJECTIVE RESULT
// Element.ObjectiveResult styles
// ----------------------------------------------------------------------------

.objective-result {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px $grey-400;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid transparent;
  border-left-width: 5px;
  &:hover {
    background: $blue-400;
    color: $white;
    .objective-result-tags {
      color: $blue-100;
    }
  }
  &:focus {
    border-color: $blue-500;
  }
  &:active {
    background: $blue-400;
    color: $white;
    background: $blue-500;
    .objective-result-tags {
      color: $blue-100;
    }
  }
}

.objective-result-icon {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
}

.objective-result-body {
  margin: 0.5rem 0.25rem;
}

.objective-result-tags {
  display: flex;
  color: $grey-500;
  font-size: 0.8em;
  margin-bottom: 0.25rem;
}

.objective-result-tag {
  &.stage {
    margin-right: 1rem;
  }
  &.system {
    margin-right: 1rem;
  }
}

.objective-result-title {
}

// ----------------------------------------------------------------------------
// || OBJECTIVE DETAIL
// Element. styles
// ---------------------------------------------------------------------------

.objective {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 4rem;
  padding: 1rem;
  display: flex;
  animation: 0.3s fadein;
  @media only screen and (max-width: $mobile) {
    padding: 0;
    display: block;
  }
}

.objective-sidebar {
  width: 280px;
  min-width: 280px;
  padding: 1rem;
  @media only screen and (max-width: $mobile) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
  }
}

.objective-sidebar-icon {
  border: 2px solid $blue-400;
  border-radius: 5px;
  @media only screen and (max-width: $mobile) {
    width: 100%;
    position: fixed;
    z-index: -10;
    border: none;
  }
}

.objective-sidebar-back-button,
.objective-sidebar-edit-button,
.objective-sidebar-add-question-button {
  @extend .ghost-button;
  margin: 0.25rem 0;
  border-color: $blue-400;
  color: $blue-400;
  &:hover {
    border-color: $blue-500;
  }
}

.objective-sidebar-back-button {
  @media only screen and (max-width: $mobile) {
    width: 100px;
    position: absolute;
    top: 4rem;
    left: 1.5rem;
  }
}

.objective-sidebar-edit-button,
.objective-sidebar-add-question-button {
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}

.objective-main {
  width: 100%;
}

.objective-body {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding: 3rem;
  padding-top: 2rem; 
  background: $white;
  box-shadow: 0 0 10px $grey-400;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 10;
  border-top-width: 1.5rem;
  @media only screen and (max-width: $mobile) {
    margin-top: 300px;
    width: auto;
    margin-left: 0;
    min-height: 50vh;
    padding: 1.5rem;
    box-shadow: none;
  }
}

.objective-body-header {
  margin-bottom: 3rem;
}

.objective-body-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: -0.5px;
}

.objective-body-tags {
  display: flex;
}

.objective-tag {
  font-size: 0.9em;
  color: $grey-600;
  margin-bottom: 0.5rem;
  &.stage {
    &:after {
      content: "—";
      margin: 0 0.5rem;
    }
  }
  &.system {
    &:after {
      content: "—";
      margin: 0 0.5rem;
    }
  }
}

.objective-questions {
  width: 100%;
  margin-left: 1rem;
  padding: 1rem;
  @media only screen and (max-width: $mobile) {
    margin-left: 0;
    margin-bottom: 6rem;
  }
}

.objective-questions-heading {
  color: $blue-500;
  font-size: 1.5rem;
}

.objective-body-contributor {
  font-size: 0.9em;
  color: $grey-600;
  .objective-body-contributor-username {
    font-weight: bold;
  }
}

.objective-loading {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// EDIT FORM

.objective-edit-form {
  margin: auto;
  padding: 2rem;
  padding-bottom: 1rem;
  display: flex;
.objective-body-notes {
  flex-grow: 1;
  animation: 0.2s fadein;
}
}

.objective-edit-left {
  width: 50%;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.objective-edit-right {
  width: 50%;
  margin-left: 3rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid $grey-300;
  box-shadow:  0 0 10px $grey-300;
  border-radius: 5px;
  .objective-edit-preview-header {
    width: 100%;
    background: $grey-300;
    color: $grey-700;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
  .objective-body-title{
    margin-bottom: 0rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
  }
  .objective-body-notes {
    padding: 2rem;
    padding-top: 0;
  }
}

.objective-edit-buttons {
  display: flex;
  .objective-body-edit-cancel {
    @extend .ghost-button;
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 25%;
  }
}

textarea.objective-body-title,
textarea.objective-body-notes {
  width: 100%;
  border: 1px dotted $blue-400;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  &:focus {
    border: 1px solid $blue-400;
  }
}



.objective-body-edit-submit {
  @extend .primary-button;
  margin: 0.5rem 0;
}

// ----------------------------------------------------------------------------
// || MARKDOWN
// Markdown styles
// ---------------------------------------------------------------------------

.markdown {
  line-height: 1.25;
  p {
    margin: 1rem 0;
  }
  a {
    text-decoration: underline;
    &:hover {
      color: $grey-700;
    }
    &:active {
      color: $red-500;
    }
  }
  pre,
  code {
    font-size: 0.9em;
    line-height: 1;
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
      "Bitstream Vera Sans Mono", monospace, serif;
    background: $grey-200;
  }
  pre {
    padding: 1rem;
    margin: 1.5rem 0;
  }
  img {
    max-width: 100%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  ul,
  ol {
    margin-left: 1rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin: 0.5rem 0;
    padding-left: 0.5rem;
  }
  h1 {
    font-size: 1.4rem;
    border-bottom: 1px solid $grey-300;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 1.25rem;
    border-bottom: 1px solid $grey-200;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    letter-spacing: -0.5px;
  }
  h3 {
    font-size: 1.15rem;
    font-weight: bold;
    margin-top: 1.25rem;
    letter-spacing: -0.4px;
  }
  blockquote {
    margin: 1rem;
    font-style: italic;
  }
  table {
    width: 100%;
    margin: 1.5rem 0;
    border-collapse: collapse;
  }
  th {
    border: 1px solid $grey-300;
    font-style: bold;
    padding: 0.5rem;
    background: $grey-200;
  }
  td {
    padding: 0.5rem;
    border: 1px solid $grey-300;
  }
}

// ----------------------------------------------------------------------------
// || ADD QUESTION MODAL
// Element.AddQuestionModal styles
// ---------------------------------------------------------------------------

.add-question-group {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-question-modal-background {
  background: $grey-200;
  opacity: 0.7;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.add-question-modal {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  background: $white;
  opacity: 1;
  box-shadow: 0 0 10px $grey-400;
}

.add-question-modal-header {
  background: $blue-500;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.add-question-modal-header-text {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.add-question-modal-header-close {
  font-size: 2rem;
}

.add-question-modal-body {
  height: 70vh;
  overflow: auto;
  display: flex;
}

.add-question-modal-left,
.add-question-modal-right {
  width: 50%;
  overflow: auto;
  padding: 1rem;
}

.add-question-modal-left {
  padding-left: 2rem;
}

.add-question-modal-right {
  padding-right: 2rem;
}

.add-question-modal-objective {
  margin-bottom: 1rem;
}

.add-question-modal-objective-label,
.add-question-modal-stem-label,
.add-question-modal-label {
  font-size: 0.9rem;
  width: 100%;
  color: $blue-500;
  font-weight: bold;
}

.add-question-modal-stem {
  margin: 1rem 0;
  .add-question-modal-stem-textarea {
    width: 100%;
    font-size: inherit;
    border: 1px dotted $blue-500;
    padding: 0.5rem;
    border-radius: 5px;
  }
}

.add-question-modal-label {
  &.correct {
    color: $green-500;
  }
  &.incorrect {
    color: $red-500;
  }
}

.add-question-modal-choice {
  margin-bottom: 1rem;
}

.add-question-modal-choice-content,
.add-question-modal-choice-explanation {
  width: 100%;
  border: 1px dotted transparent;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 5px;
  max-width: 100%;
  &.correct {
    border-color: $green-500;
  }
  &.incorrect {
    border-color: $red-500;
  }
}

.add-question-modal-label-group {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
  align-items: center;
}

.add-question-modal-delete-choice-button {
  @extend .ghost-button;
  color: $red-500;
  font-size: 0.8rem;
  padding: 0.25rem;
  border: 1px solid red;
  width: auto;
  margin: 0;
  &:hover {
    background: $red-500;
  }
}

.add-question-modal-add-choice-button {
  @extend .ghost-button;
}

.add-question-modal-footer {
  border-top: 1px solid $grey-300;
  padding: 0.5rem;
}

.add-question-modal-submit-button {
  @extend .primary-button;
  margin: 0;
}

.add-question-modal-response {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 0.9em;
  &.success {
    color: $green-500;
  }
  &.error {
    color: $red-500;
  }
}

// ----------------------------------------------------------------------------
// || QUESTION RESULT
// Element. styles
// ---------------------------------------------------------------------------

.question-result {
  @extend .objective-result;
  width: 100%;
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
}

.question-result-stem {
  padding: 1rem;
  max-height: 200px;
  overflow: hidden;
}

.question-result-contributor {
  border-top: 1px solid $grey-300;
  text-align: right;
  padding: 0.5rem;
  font-size: 0.8em;
}

// ----------------------------------------------------------------------------
// || QUESTION DETAIL
// Element.QuestionDetail styles
// ---------------------------------------------------------------------------

.question-detail-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-box {
  height: 2rem;
  width: 2rem;
  background: $blue-400;
  border-radius: 5px;
  animation: 1s fadeinout infinite;
  border: 9px double $white;
}

.question-detail-group {
  position: absolute;
  top: 0;
  left: 0;
  background: $grey-100;
  height: 100vh;
  width: 100vw;
  @media only screen and (max-width: $mobile) {
    position: relative;
    height: auto;
    width: auto;
    margin-top: -$navigation-bar-height;
    margin-bottom: -$bottom-bar-height;
    background: $white;
    overflow: auto;
  }
}

.question-detail-main {
}

.question-detail-body {
  padding: 0 2rem;
  max-width: 1600px;
  margin: auto;
  height: 75vh;
  @media only screen and (max-width: $mobile) {
    height: auto;
    padding: 0;
  }
}

.question-detail-header {
  height: 7vh;
  display: flex;
  margin: 1rem 2rem;
  align-items: center;
  @media only screen and (max-width: $mobile) {
    height: auto;
    margin: 1rem;
    margin-bottom: 0;
  }
}

.question-detail-progress-squares {
  display: flex;
  overflow-x: auto;
}

.progress-square {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 0 0.1rem;
  @media only screen and (max-width: $mobile) {
    height: 1rem;
    width: 1rem;
    border-radius: 2px;
  }
  &.correct {
    background: $green-400;
  }
  &.incorrect {
    background: $red-400;
  }
  &.current {
    background: $white;
    border-color: $blue-400;
  }
  &.incomplete {
    background: $grey-400;
  }
}

.question-detail-close-button {
  font-size: 2rem;
  color: $grey-500;
  margin-left: auto;
  padding-left: 0.5rem;
}

.question-detail-body {
  display: flex;
  @media only screen and (max-width: $mobile) {
    display: block;
  }
}

.question-detail-question {
  background: $white;
  box-shadow: 0 0 10px $grey-300;
  border-radius: 5px;
  width: 60%;
  margin-right: 1rem;
  padding: 2rem;
  overflow: auto;
  font-size: 0.9em;
  @media only screen and (max-width: $mobile) {
    font-size: 1em;
    width: 100%;
    box-shadow: none;
    margin: 0;
    padding: 1.2rem;
    padding-top: 0;
    height: auto;
  }
  @media only screen and (min-width: $large) {
    font-size: 1em;
  }
}

.question-detail-content {
  animation: 0.2s fadein;
  padding-bottom: 2rem;
}

.question-detail-tags {
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $grey-500;
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}
.question-detail-tag {
  color: $grey-600;
  font-size: 0.8em;
  &.stage {
    margin-right: 1rem;
  }
  &.system {
    margin-right: 1rem;
  }
  &.topic {
    margin-right: 1rem;
  }
  &.contributor {
    margin-left: auto;
  }
}

.question-detail-stem {
  margin: 1.5rem 0;

  @media only screen and (max-width: $mobile) {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

.question-detail-choice-button {
  @extend .ghost-button;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  .markdown {
    p {
      margin: 0;
    }
  }
}

.question-detail-choice-summary-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
}

.question-detail-choice-details {
  margin: 0.5rem 0;
  .question-detail-choice-summary {
    font-size: 1em;
    border: 2px solid transparent;
    display: flex;
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background: $grey-300;
    color: $grey-600;
    position: relative;
    display: flex;
    align-items: center;
    &::-webkit-details-marker {
      z-index: 30;
    }
  }
  .question-detail-choice-summary-markdown {
    margin: 0;
    line-height: 1;
    p {
      margin: 0;
    }
  }
  .question-detail-choice-summary-text-percent {
    font-size: 0.9em;
  }

  .question-detail-choice-summary-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    background: $grey-400;
  }

  .question-detail-choice-detail {
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: $grey-200;
  }

  &.correct {
    .question-detail-choice-summary {
      background: $green-500;
      color: $white;
    }
    .question-detail-choice-detail {
      background: $green-200;
    }
    .question-detail-choice-summary-bar {
      background: $green-600;
    }
  }
  &.incorrect.selected {
    .question-detail-choice-summary {
      background: $red-500;
      color: $white;
    }
    .question-detail-choice-detail {
      background: $red-200;
    }
    .question-detail-choice-summary-bar {
      background: $red-600;
    }
  }
}

.question-detail-side-panel {
  width: 40%;
  margin-left: 1rem;
  background: $white;
  padding: 2rem;
  padding-bottom: 0rem;
  box-shadow: 0 0 10px $grey-300;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  animation: 0.3s fadein;
  transition: 0.3s all;
  font-size: 0.9em;
  label {
    @extend .text-input-label;
    font-weight: bold;
  }
  @media only screen and (max-width: $mobile) {
    display: none; // Let's just get rid of it entirely for now...
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: $white !important;
    box-shadow: none !important;
    border-top: 1px dotted $grey-400;
    margin-bottom: 9vh;
  }
  @media only screen and (min-width: $large) {
    font-size: 1em;
  }
}

.question-detail-side-panel-placeholder {
  @extend .question-detail-side-panel;
  background: $grey-200;
  box-shadow: 0 0 10px $grey-300 inset;
}

.question-detail-objective-result {
  @extend .objective-result;
  text-align: left;
  margin: 0.5rem 0 1rem 0;
  width: 100%;
}

.question-detail-rating-rating {
  margin: 0.5rem 0 1rem 0;
  display: flex;
  align-items: center;
  .question-detail-rating-numerical {
    font-size: 2rem;
  }
  .question-detail-rating-stars {
    margin-left: auto;
    display: flex;
  }
}

.question-detail-comments {
  flex-grow: 1;
  overflow: auto;
}

.question-detail-comment-textarea {
  @extend .text-input-input;
}

.question-detail-comment {
  display: flex;
  margin: 0.5rem 0;
  .question-detail-comment-datetime {
    color: $grey-600;
    font-size: 0.9em;
    width: 7rem;
  }
  .question-detail-comment-content {
    width: 100%;
  }
}

@keyframes bounce-up {
  0% {
    bottom: -8vh;
  }
  70% {
    bottom: 0vh;
  }
  80% {
    bottom: -0.5vh;
  }
  100% {
    bottom: -1vh;
  }
}

.question-detail-next-question-button {
  @extend .primary-button;
  width: auto;
  min-width: 200px;
  font-size: 1.25rem;
  @media only screen and (max-width: $mobile) {
    font-size: 1rem;
    min-width: 100px;
    margin: 0;
  }
}

.question-detail-footer {
  position: fixed;
  height: 9vh;
  width: 100vw;
  display: flex;
  bottom: -1vh;
  left: 0;
  color: $white;
  animation: 0.18s bounce-up;
  animation-timing-function: ease-out;
  box-shadow: 0 0 20px $grey-400;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1vh;
  z-index: 50;
  @media only screen and (max-width: $mobile) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &.correct {
    background: $green-500;
    .question-detail-next-question-button {
      background: $green-600;
      box-shadow: 0 0 10px $green-700 inset;
      &:hover {
        background: $green-700;
      }
      &:active {
        background: $green-800;
      }
    }
  }

  &.incorrect {
    background: $red-500;
    .question-detail-next-question-button {
      background: $red-600;
      box-shadow: 0 0 10px $red-700 inset;
      &:hover {
        background: $red-700;
      }
      &:active {
        background: $red-800;
      }
    }
  }
}

.question-detail-rate-question {
  display: flex;
  align-items: center;
}
.question-detail-rate-question-label {
  font-weight: bold;
  margin-right: 1rem;
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}
.question-detail-rate-question-stars {
  display: flex;
}
.question-detail-rate-question-star {
  margin: 0;
  padding: 0;
}

.star {
  font-size: 2rem;
  line-height: 0;
}

.question-detail-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: $grey-200;
  opacity: 0.7;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.question-detail-objective-modal-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.question-detail-objective-modal {
  width: 90%;
  max-width: 1200px;
  background: $white;
  box-shadow: 0 0 20px $grey-400;
  border-radius: 5px;
}

.question-detail-objective-modal-header {
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  .question-detail-objective-modal-close {
    font-size: 2rem;
  }
}

.question-detail-objective-modal-body {
  height: 85vh;
  overflow: auto;
  padding: 3rem;
}

.question-detail-objective-modal-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.question-detail-objective-modal-notes {
  margin-bottom: 4rem;
}

// ----------------------------------------------------------------------------
// || TEST REPORT
// Element.TestReport styles
// ---------------------------------------------------------------------------

.test-report-empty {
  height: 100%;
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-direction: column;
}

.test-report-empty-heading {
  max-width: 900px;
  font-size: 2rem;
  letter-spacing: -1px;
}

.test-report-empty-button {
  @extend .primary-button;
  max-width: 900px;
}

.test-report {
  width: 100%;
  margin: auto;
  padding: 2rem;
  max-width: 1400px;
  display: flex;
  animation: 0.3s fadein;
  @media only screen and (max-width: $mobile) {
    padding: 1rem;
    flex-direction: column-reverse;
  }
}

.test-report-left {
  width: 65%;
  background: $white;
  box-shadow: 0 0 10px $grey-300;
  padding: 2rem;
  border-radius: 5px;
  @media only screen and (max-width: $mobile) {
    box-shadow: none;
    padding: 0;
    width: 100%;
  }
}

.test-report-right {
  width: 35%;
  flex-grow: 1;
  padding: 0 2rem;
  @media only screen and (max-width: $mobile) {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
}

.test-report-left-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $grey-500;
}

.test-report-completed {
  border-left-width: 5px;
  padding-left: 1rem;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  .markdown p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &.correct {
    border-left-color: $green-500;
  }

  &.incorrect {
    border-left-color: $red-500;
  }
}

.test-report-completed-stem {
  color: $grey-700;
  border: 1px solid $grey-400;
  padding: 0 1rem;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.test-report-completed-your-answer {
  display: flex;
  font-weight: bold;
  .test-report-completed-your-answer-text {
    margin-right: 1rem;
  }
  .test-report-completed-your-answer-choice {
    flex-grow: 1;
  }
}

.test-report-completed-correct-answer {
  display: flex;
  font-weight: bold;
  .test-report-completed-correct-answer-text {
    margin-right: 1rem;
  }
  .test-report-completed-correct-answer-choice {
    flex-grow: 1;
  }
}

.test-report-completed-explanation, .test-report-completed-correct-explanation {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.test-report-statistics-your-score {
  display: flex;
  width: 100%;
  background: $white;
  box-shadow: 0 0 10px $grey-400;
  padding: 1rem;
  margin-bottom: 1rem;
  .test-report-statistics-your-score-score {
    flex-grow: 1;
    font-weight: bold;
    text-align: right;
    font-size: 2rem;
  }
}

.test-report-statistics-user-average {
  @extend .test-report-statistics-your-score;
  color: $grey-500;
  .test-report-statistics-user-average-score {
    @extend .test-report-statistics-your-score-score;
  }
}

.test-report-finish-button {
  @extend .primary-button;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.test-report-grouped-scores {
  background: $white;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px $grey-400;
  @media only screen and (max-width: $mobile) {
    font-size: 0.8rem;
  }
}

.test-report-grouped-scores-block {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  .test-report-grouped-scores-block-text {
    width: 30%;
  }
  .test-report-grouped-scores-block-fraction {
    width: 10%;
  }
  .test-report-grouped-scores-block-graphic {
    width: 60%;
    display: flex;
  }
  .test-report-grouped-scores-block-block {
    height: 1rem;
    &.correct {
      background: $green-400;
    }
    &.incorrect {
      background: $red-400;
    }
  }
}