$peach : linear-gradient( 90deg, #FFD3A5 15%, #FD6585 100%);
$button-background: hsl(0,60,60);
$button-outline: hsl(0,0,20);
$button-text: white;
$button-hover: grey;
$choice-background: hsl(0,0,60);
$correct: hsl(110, 50, 60);
$incorrect: hsl(0, 70, 60);
$input: hsl(0, 0, 50);
$input-focus: hsl(0, 0, 95);
$stem-background: hsl(40, 80, 95);
$stem-text: darken($stem-background, 80);
$stem-border: darken($stem-background, 50);

[data-elm-hot="true"] {
  height: inherit;
  width: inherit;
}

// Animations

@keyframes fade-in {
  0% {opacity: 0;}
  50% {opacity: 90%;}
  100% {opacity: 100%;}
}

// Elements

body {
  width: inherit;
  height: inherit;
  margin: 0;
}

button {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: $button-background;
  color: $button-text;
  border: none;
  margin-top: 4px;
  border-bottom: 4px solid darken($button-background, 10);
  border-radius: 0.25em;

  &:hover {
    border-bottom-width: 5px;
    margin-top: 3px;
    cursor: pointer;
  }

  &:active {
    border-bottom-width: 0;
    margin-top: 8px;
  }

  &:focus {
    outline: $button-outline;
  }

}

html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

img {
  max-width: 300px;
  max-height: 300px;
}

input {
  width: 100%;
  padding: 0.75em;
  border: none;
  border-radius: 0.5em  ;
  background: $input;

  &:focus {
    background: $input-focus;
  }

}

// Screens
