$peach : linear-gradient( 90deg, #FFD3A5 15%, #FD6585 100%);
$button-background: hsl(0,60,60);
$button-outline: hsl(0,0,20);
$button-text: white;
$button-hover: grey;
$choice-background: hsl(0,0,60);
$correct: hsl(110, 50, 60);
$incorrect: hsl(0, 70, 60);
$stem-background: hsl(40, 80, 95);
$stem-text: darken($stem-background, 80);
$stem-border: darken($stem-background, 50);

[data-elm-hot="true"] {
  height: inherit;
  width: inherit;
}

// Animations

@keyframes fade-in {
  0% {opacity: 0;}
  50% {opacity: 90%;}
  100% {opacity: 100%;}
}

// Elements

body {
  width: inherit;
  height: inherit;
  margin: 0;
}

button {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: $button-background;
  color: $button-text;
  border: none;
  border-top: 4px solid white;
  border-bottom: 4px solid darken($button-background, 10);
  border-radius: 0.25em;

  &:hover {
    border-bottom-width: 5px;
    border-top-width: 3px;
    cursor: pointer;
  }

  &:active {
    border-bottom-width: 0;
    border-top-width: 8px;
  }

  &:focus {
    outline: $button-outline;
  }

}

html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.container {
  width: 80%;
  height: inherit;
  padding-top: 1em;
  box-sizing: border-box;
  margin: auto;
  overflow: auto;
}


// Screens


.start-menu {
  display: flex;
  flex-direction: column;

  .title {
    font-weight: normal;
    text-align: center;
    margin: 0;
  }

  .subtitle {
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
  }

}

.question-screen {

  animation: fade-in 0.5s;

  .question {

    .stem {
      background: $stem-background;
      border: 3px double $stem-border;
      color: $stem-text;
      padding-left: 1em;
      padding-right: 1em;
      margin-bottom: 1em;
    }

    .choice-list {
      display: flex;
      flex-direction: column;

      .choice {
        text-align: left;
        background-color: $choice-background;
        border-bottom-color: darken($choice-background, 10);

        &.with-response {

          &.is-selected {
            border-bottom-width: 0;
            border-top-width: 8px;

            &:not(.is-correct) {
            background-color: $incorrect;
            border-bottom-color: darken($incorrect, 10);
            }

          }

          &.is-correct {
            background-color: $correct;
            border-bottom-color: darken($correct, 10);
          }

        }

        .marker {
          display: inline-block;
        }

        .description {
          display: inline-block;
          margin-left: 1em;

          p {
            margin: 0;
          }
        }

      }
    }
  }
}
