// Variables
$medium: "only screen and (max-width : 760px)";

// Reset styles

html, body, blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre {
  margin: 0;
}

a {
  text-decoration: none;
  color: steelblue;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
  margin: auto;
}

*, *::before, *::after {
  border-width: 0;
  border-style: solid;
}

/* Animations */

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeinout {
  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}

@keyframes loading {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.5
  }
  50% {
    transform: scale(2) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 0.5;
  }
}

/* Utilities */

.hidden {
  display: none !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fadeinout {
  animation: fadeinout 1s ease-in-out infinite;
}


/* Main */

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
}

div.loading {
  width: 1em;
  height: 1em;
  background: slategrey;
  animation: loading 3s ease-in-out infinite;
}

.message {
  box-shadow: 0 1px 3px lightgrey;
  position: sticky;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  background: 0;
  cursor: pointer;
}

article {
  margin: 1em;
  display: flex;
  flex-direction: column;

  > header {
    font-weight: bold;
    color: #3a3c3c;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #dadcdc;
    margin-bottom: 1em;
  }

  > section {
    flex-grow: 1;
    p {
      margin-top: 1em;
    }
  }

  > footer {
    display: flex;
    justify-content: flex-end;
  }
}

article#content {

  > section {
    padding: 1em;
    box-sizing: border-box;
    animation: fadein 0.3s;

    > div#comments {
      display: flex;
      flex-direction: column;

      div.comment {
        display: flex;

        label {
          width: 15%;
          font-size: 0.8em;
          margin-top: 1rem;
        }

        div {
          flex-grow: 1;
          padding-left: 1em;

          img {
            max-width: 50%;
            max-height: 20vh;
          }

        }

      }
    }

  }
  > footer {
    padding: 0.5em;
    border-top: 1px solid lightgrey;
  }
}

input, textarea, select {
  width: 100%;
  font-size: 1em;
  background: lightgrey;
  padding: 0.5em;
  border-radius: 3px;
  transition: all 0.3s;
  border: 1px solid lightgrey;
  box-sizing: border-box;

  &:hover {
    background: #eaecec;
  }

  &:focus {
    background: white;
  }
}


.field {
  margin-top: 0.5em;
}

button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 3px;
  box-shadow: 0 1px 3px lightgrey;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 0.5em;

  &:hover {
    box-shadow: 0 3px 5px lightgrey;
  }

}

label {
  color: grey;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > nav {
    display: flex;

    > a {
      flex-grow: 1;
      display: flex;
      text-decoration: none;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      padding: 0.25em;
      color: slategrey;
      box-shadow: inset 0 2px 4px lightgrey;
      transition: all 0.2s;

      &.active {
        box-shadow: none;
        cursor: auto;

        &:hover {
          background: inherit;
          color: slategrey;
          box-shadow: inherit;
        }
      }

      &:hover {
        background: #f4f7f7;
        color: darkslategray;
      }

      label {
        cursor: inherit;
        font-size: 0.8em;
        margin: 0;
        padding: 0;
      }

    }

  }

  > main {
    flex-grow: 1;
    overflow: hidden;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    > article {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      max-width: 960px;
      box-shadow: 0 1px 4px lightgrey;
      border-radius: 5px;

      > header.tabs {
        display: flex;
        font-size: 0.9em;
        color: gray;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: all 0.2s;
        padding: 0;
        font-weight: normal;
        border: none;

        > div.tab {
          padding: 0.5em;
          flex-grow: 1;
          text-align: center;
          cursor: pointer;
          transition: inherit;
          box-shadow: inset 0 1px 3px lightgrey;
          border-bottom: 1px solid #eaecec;

          &:hover {
            background: #eaecec;
            color: #4a4c4c;
          }

          &.active {
            border-bottom: none;
            box-shadow: none;
          }


        }

      }

      > section {
        flex-grow: 1;
        overflow: hidden;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        div#grid {
          display: grid;
          flex-grow: 1;
          height: 100%;
          grid-template-columns: repeat(16, 1fr);
          grid-template-rows: repeat(12, 1fr);
          grid-gap: 0.25em;
          animation: fadein 0.3s;

          > .note {
            width: 100%;
            height: 100%;
            transition: all 0.2s;
            border-radius: 2px;
            box-shadow: 0 1px 3px lightgrey;
            position: relative;
            min-width: 0;
            min-height: 0;

            &:hover:after {
              content: attr(data-tooltip);
              background: inherit;
              color: inherit;
              position: fixed;
              bottom: 0;
              left: 0;
              width: 100vw;
              padding: 0.5em;
              text-align: center;
              border-top: 1px solid grey;
              background: white;
              color: black;
              animation: fadein 0.2s;
              z-index: 10;
            }

            > .detail {
              padding: 0.2em;
              box-sizing: border-box;
              color: black;
              font-size: 0.5em;
              height: 100%;
              width: 100%;
              overflow: hidden !important;
              text-decoration: none !important;

                &:hover {
                  background: white !important;
                }

            }

          }

        }

      }


    }

  }

  section#modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;

    > form > article, > article {
      width: 100%;
      max-width: 720px;
      background: white;
      box-shadow: 0 1px 3px lightgrey;

      > header {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        margin: 0;

        > button {
          box-shadow: none;
          color: grey;
          padding: 0;

          &:hover {
            color: black;
          }
        }
      }

      > section {
        padding: 1em;
        max-height: 70vh;
        overflow: auto;
        transition: all 0.3s;

        div.field {
          display: grid;
          margin-top: 1em;
          margin-bottom: 1em;
          grid-template-columns: min-content;
          grid-gap: 0.25em;


          > label {
            margin: none;
            min-width: 6em;
            grid-row: 1;
            display: flex;
            height: 100%;
            border-radius: 2px;
            padding-left: 0.5em;
            padding-right: 0.5em;
            box-sizing: border-box;
            text-align: left;
          }

          > input, textarea, select {
            grid-row: 1;
          }

          textarea#stem {
            height: 10em;
          }

        }

        div.field.choice {
          display: grid;
          grid-gap: 0.25em;
          grid-template-columns: min-content;

          > label {
            grid-row: 1;
            grid-column: 1;

            &.correct {
              color: mediumseagreen;
            }


            &.incorrect {
              color: indianred;
            }

          }

          > input {
            grid-row: 1;
            grid-column: 2;
            max-width: 100%
          }

          > textarea {
            grid-row: 2;
            grid-column: 2;
            max-width: 100%;
          }

        }

      }

      > footer {
        padding: 1em;
      }
    }

  }

  main#note {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;

    > header {
      width: 100%;
      padding: 0.5em;
      box-sizing: border-box;
      box-shadow: 0 1px 4px lightgrey;
      display: grid;
      grid-gap: 0.5em;
      grid-template-columns: min-content;

      .title {
        font-weight: bold;
      }

      a, div {
        grid-row: 1;
        padding-left: 1em;
        padding-right: 1em;
      }

    }

    > section {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;
      box-sizing: border-box;
      width: 100%;
      max-width: 960px;

      div#dashboard {
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;

        article {
          box-shadow: 0 1px 4px lightgrey;
          margin: 0;
        }

        article#stats {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        article#controls {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        article#content {
          grid-column: 2;
          grid-row-start: 1;
          grid-row-end: 3;
          max-height: 100%;

          > section {
            overflow: auto;
          }

        }

      }

    }

  }

  > main#profile {

    align-items: flex-start;
    overflow: auto;

    > section {
      max-width: 960px;
      display: flex;

      > section {
        width: 50%;
        display: flex;
        flex-direction: column;

      }
    }
  }

  @media #{$medium} {
    flex-direction: column-reverse;
  }

}
