@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white;
}



/* GRID */
@responsive {
  .grid {
    display: grid;
    grid-gap: 0.1em;
  }
}


/* Tags */

div.tag {
  @apply px-1 border border-white text-white mx-1 my-1 rounded-full;
  font-size: 0.6em;
}

/* Main */
main#profile article {
  @apply m-2 bg-white shadow rounded overflow-hidden;
}

main#profile article > section {
  @apply pt-2 px-4 pb-4;
}

main#profile article footer {
  @apply flex justify-end px-2 pb-2;
}

main#profile article header {
  @apply text-lg py-2 px-4 font-bold;
}

/* Inputs */

button {
  @apply px-2 py-1 rounded;
}

.field {
  @apply my-2;
}

input, textarea, select {
  @apply w-full bg-gray-200 py-1 px-2 rounded border-2 border-gray-200;
}

input:focus, textarea:focus {
  @apply bg-white border-blue-400;
  outline-color: #90cd4;
}

form {
  all: inherit;
  display: inherit;
  position: inherit;
  width: inherit;
  height: inherit;
  flex-grow: inherit;
  background: rgba(0,0,0,0);
}

/* Transitions */
@keyframes fadeinout {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.fadeinout {
  animation: fadeinout 1s ease-in-out infinite;
}

.transition {
  transition: all 0.2s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadein {
  animation: fadein 0.3s;
}

.rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.rotate-45 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* Utilities */

@responsive {
  .h-85vh {
    height: 85vh;
  }
}
/*
.correct-bg {
  background: #48BB78 !important;
}

.incorrect-bg {
  background: #F56565 !important;
}
*/

/* Loading */



div.loading {
  @apply bg-blue-500 mx-auto;
  height: 2em;
  width: 2em;
  border-radius: 5px;
  animation: fadeinout 1s ease-in-out infinite;
}

/* Images */

.markdown img {
  max-width: 75%;
  max-height: 33vh;
  margin: 1em auto;
}

/* Markdown */

.markdown p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown blockquote, pre {
  @apply my-4;
  padding-left: 1em;
}

.markdown blockquote {
  margin-left: 0.5em;
  border-left: 2px solid slategrey;
}

.markdown pre {
  font-size: 0.9em;
}

.markdown h1 {
  @apply border-b border-gray-200 pb-2 mb-2 mt-4;
  font-size: 1.5em;
  font-weight: bold;
}

.markdown h2 {
  @apply border-b border-gray-200 pb-2 mb-2 mt-4;
  font-size: 1.25em;
}

.markdown h3 {
  @apply border-b border-gray-200 pb-2 mb-2 mt-4;
  font-size: 1.1em;
}

.markdown h4 {
  @apply border-b border-gray-200 pb-2 mb-2 mt-4;
  font-size: 1em;
}


.markdown ol {
  @apply mt-2 mb-4;
  list-style-type: decimal;
}

.markdown ul {
  @apply mt-2 mb-4;
  list-style-type: square;
}

.markdown li {
  margin-left: 2em;
  padding-left: 0.5em;
}

.markdown a {
  @apply text-blue-500;
}

/* Modal */

.modal {
  @apply bg-gray-100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 40;
}

.modal.hidden {
  display: none;
}

.modal  article {
  @apply bg-white shadow-lg overflow-hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal article > header {
  @apply bg-gray-200 text-gray-700 px-4 py-2;
  display: flex;
  justify-content: space-between;
}

.modal  article > section {
  @apply p-4;
  flex-grow: 1;
  overflow: auto;
}

.question-modal article#comments {
  display: none;
}

.modal  article > footer {
  @apply px-4 py-2 bg-gray-200 text-gray-700 flex justify-end;
}


/* Responsive */

@media (min-width: 768px) {


  .note:hover:after, .note:hover::after {
    @apply p-2 text-gray-700 bg-gray-200 rounded shadow-lg;
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 0%;
    min-width: 25vw;
  }

  .note:hover {
    transform: scale(1.1);
    z-index: 50;
  }



  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal article {
    @apply rounded-lg;
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 800px;
  }

  .question-modal article#question {
    @apply mx-2;
    width: 50%;
  }

  .question-modal article#comments {
    @apply mx-2;
    display: flex;
    width: 25%;
  }
}
